$primary-color: #151620;
//$secondary-color: #ce9c72;
$secondary-color: #cc9966;
$accent-color: #e0dcd4;
$text-color: #4a4a4a;
$header-background-color: #151620;
$blog-header-background-color: #212227;
$library-background-color: #15161e;
$lines-color: #0c0c0d;
$mobile-width: 700px;
$tablet-width: 1100px;
$desktop-width: 1350px;
//$lines-color: #212227;
