@font-face {
	font-family: "minion";
	src: url("./fonts/MinionPro-Disp.otf") format("opentype");
}

@font-face {
	font-family: "minion-bold";
	src: url("./fonts/MinionPro-BoldDisp.otf") format("opentype");
}

@font-face {
	font-family: "minion-it";
	src: url("./fonts/MinionPro-ItDisp.otf") format("opentype");
}

@font-face {
	font-family: "minion-semibold-it";
	src: url("./fonts/MinionPro-SemiboldItDisp.otf") format("opentype");
}

@font-face {
	font-family: "minion-bold-it";
	src: url("./fonts/MinionPro-BoldIt.otf") format("opentype");
}


@font-face {
	font-family: "minion-medium";
	src: url("./fonts/MinionPro-Medium.otf") format("opentype");
}

@font-face {
	font-family: "minion-medium-it";
	src: url("./fonts/MinionPro-MediumIt.otf") format("opentype");
}

@font-face {
	font-family: "minion-bold-subh";
	src: url("./fonts/MinionPro-BoldSubh.otf") format("opentype");
}

@font-face {
	font-family: "minion-medium-subh";
	src: url("./fonts/MinionPro-MediumSubh.otf") format("opentype");
}

@font-face {
	font-family: "minion-it-subh";
	src: url("./fonts/MinionPro-ItSubh.otf") format("opentype");
}


@font-face {
	font-family: "arial-narrow";
	src: url("./fonts/Arial Narrow.ttf") format("truetype");
}
