
@import "colors";
@import "fonts";

.article-header {
	background-color: $primary-color;
	position: relative;
	height: 142px;
	text-align: center;
	padding-top: 40px;
}

.article-header::after {
    content: ' ';
    background-image: url(/assets/imgs/lines.svg);
    display: block;
    width: 100%;
    height: 56px;
    position: absolute;
    margin-top: 30px;
    z-index: 10;
    background-size: 150px auto;
    opacity: .5;
    pointer-events: none;
}


.article-header__menu {
    font-family: minion-bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 1px;
    color: $secondary-color;
    position: relative;
    z-index: 999;
}

.article-content {
	padding-top: 46px;
	margin-bottom: 200px;
}

.article-container {
	max-width: 800px !important;
}


.article__feature-image {
	width: 100%;
}

.article__type {
    font-family: 'arial-narrow';
    font-size: 20px;
    text-transform: uppercase;
    margin: 40px 0 0;
    color: $secondary-color;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
}


.article__type::after {
	content: ' ';
	width: 100%;
	display: inline-block;
	height: 3px;
	border-bottom: 1px solid $secondary-color;
	border-top: 1px solid $secondary-color;
	margin-left: 10px;
}

.article__excerpt {
    color: #15161e;
    font-size: 38px;
    font-family: 'minion-bold';
    letter-spacing: 1px;
    margin: 13px 0 0;
    white-space: pre-wrap;
}

.article-seperator {
	transform: scale(-1);
	bottom: -1px;
}
.article-seperator path {
	fill: $accent-color;
}

.article__content {
	font-family: 'minion-medium-subh';
	font-size: 18px;
	line-height: 25px;
	color: $text-color;
	white-space: pre-wrap;
	text-align: justify;
	letter-spacing: 1px;
	-webkit-hyphens: auto;
	hyphens: auto;
	letter-spacing: 0.3px;
}
