
@import "colors";
@import "fonts";

.articles-header {
	margin-bottom: -20px;
	background-color: $accent-color;
}

.articles-header {
    color: #818181;
}

.articles-content {
	background-color: $accent-color;
	margin-bottom: 200px;
}

.articles-container {
	max-width: 1200px !important;
	padding: 0 15px;
}

.articles-header__image-container {
    position: relative;
    max-width: 100% !important;
}

.articles-header__image-container::after {
	content: ' ';
	display: block;
	width: 100%;
	height: 55px;
	background-image: url(/assets/imgs/lines.svg);
	position: absolute;
	margin-top: -35px;
	z-index: 999;
	background-size: 150px auto;
	opacity: .5;
	pointer-events: none;
}

.articles-header__image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.articles-header__title {
    font-family: 'minion-bold-subh';
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 0;
    color: $secondary-color;
    letter-spacing: 1px;
}

.articles-header__title::before,
.articles-header__title::after {
	content: ' ';
	width: 90px;
	display: inline-block;
	height: 3px;
	border-bottom: 1px solid $secondary-color;
	border-top: 1px solid $secondary-color;

	@media (max-width: $mobile-width) {
		display: none;
	}
}

.articles-header__title::before {
	margin-right: 10px;
}

.articles-header__title::after {
	margin-left: 10px;
}

.articles-header__paragraph {
    font-family: 'minion-medium-subh';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.articles-seperator {
	bottom: 3px;
	transform: scale(-1);
}
.articles-seperator path {
	fill: $accent-color;
}

.articles {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	padding-top: 75px;
	justify-content: center;
}

.articles-item {
	flex-basis: 350px;
}

.articles-item__image {
	width: 100%;
	height: 169px;
	object-fit: cover;
}

.articles-item__type {
	display: block;
	margin-top: 15px;
	font-size: 14px;
	font-family: arial-narrow;
	text-transform: uppercase;
	color: $secondary-color;
	letter-spacing: 2px;
}

.articles-item__name {
	font-family: minion-bold;
	font-size: 20px;
	color: $primary-color;
	margin-top: 5px;
	letter-spacing: 1px;
	font-weight: 100;
	line-height: 26px;
	white-space: pre-wrap;
}

