@import "colors";

.footer {
	//opacity: .5;
	//background-image: url("/assets/imgs/footer1.png");
	//background-position: center -13px;
	font-family: "arial-narrow", sans-serif;
	letter-spacing: 0.5px;
	background-color: $primary-color;
	max-width: 100% !important;
	color: $accent-color;
	border-top: 5px solid $secondary-color;

	a {
		color: $secondary-color;
	}

	img {
		max-width: 100% !important;
	}
}

.footer-top {
}

.footer-top__title {
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	color: $secondary-color;
	padding: 28px 0 40px;
}

.footer-icons {
	display: flex;
	flex-wrap: wrap;
}

.footer-icons__title {
    font-size: 8.5pt;
    text-transform: uppercase;
    color: $secondary-color;
    margin-top: 10px;
}

.footer-container {
	display: flex;
	margin-bottom: 50px;
}

.footer-icons,
.footer-icons,
.footer-icons {
	padding: 40px 20px 0 67px;
}

.footer-icons--first-row {
	gap: 40px 102px;
}

.footer-icons--second-row {
	gap: 50px 29px;
}


.footer-icons--third-row {
	margin-top: 40px;
	.footer-icons {
		gap: 30px 95px;
		justify-content: center;
	}
}

.footer-icons__item {
	text-align: center;
}

.footer-contact {
	text-align: center;
	padding-top: 23px;
	border-top: 1px solid rgba($secondary-color, .2);
	margin: 20px 60px 0;
	color: $secondary-color;
}

.footer-icons__item {
	img {
		object-fit: contain;
	}
}

.footer-contact__title {
	font-size: 14px;
	text-transform: uppercase;
}

.footer-contact__content {
	font-size: 12px;
	line-height: 15px;
	margin: 0;
}

.footer-bottom {
	background-color: #c8c2b8;
	color: $primary-color;
	text-transform: uppercase;
	text-align: center;
	max-width: 100% !important;
	padding: 10px 0;
}

.footer-bottom__copyright {
	font-size: 13px;
}

.footer__button-top {
    font-family: 'minion-bold-it';
    font-size: 46px;
    line-height: 63px;
    color: $primary-color;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #a10000;
    text-align: center;
    position: fixed;
    bottom: 100px;
    right: 70px;
    opacity: .5;
    z-index: 999999;
    transition: opacity .5s;
}

.footer__button-top:hover {
    color: $accent-color;
    opacity: 1;
}

@media (min-width: $mobile-width) and (max-width: $desktop-width) {
	.footer-icons--first-row,
	.footer-icons--second-row {
		.footer-icons__item {
			flex: 25%;
		}
	}

	.footer-contact {
		margin-top: 65px;
	}
}

@media (max-width: $tablet-width) {
	.footer-icons__item {
		width: 100%;
	}

	.footer-icons {
		margin-top: 50px;
		padding: 0;
	}

	.footer-contact {
		margin: 25px auto 0;
	}

	.footer-container {
		flex-wrap: wrap;
	}
}
