@import "colors";

.footer {
	//opacity: .5;
	//background-image: url("/assets/imgs/footer1.png");
	//background-position: center -13px;
	position: relative;
	font-family: "arial-narrow", sans-serif;
	letter-spacing: 0.5px;
	background-color: $primary-color;
	max-width: 100% !important;
	color: $accent-color;
	border-top: 5px solid $secondary-color;
	box-shadow: 0 -1px 20px $primary-color;

	a {
		color: $secondary-color;
	}

	img {
		max-width: 100% !important;
	}
}

.footer-top {
	@media (min-width: $tablet-width) and (max-width: $desktop-width) {
		padding: 0 15vw;
	}

	@media (min-width: $desktop-width) {
		padding: 0 30px;
	}
}

.footer-top__title {
	font-size: 18px;
	font-weight: 900;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	color: $secondary-color;
	padding: 65px 0 65px;
}

.footer-icons {
	display: flex;
	flex-wrap: wrap;
}

.footer-icons__title {
    font-size: 8.5pt;
    text-transform: uppercase;
    white-space: pre-line;
    color: $secondary-color;
    margin-top: 10px;
}

.footer-icons__slide {
	text-align: center;
	margin: auto;
}

.footer-icons__swiper-link {
  margin: 30px 0;
  display: block;
}

.footer-container {
	display: flex;
	margin-bottom: 50px;
}

.footer-icons--first-row {
	gap: 40px 0; /*102px;*/
	align-items: start;

	img {
		width: 160px;
		height: 80px;
	}
}

.footer-icons--second-row {
	gap: 50px 0; /*29px;*/
	margin-top: 50px;
	align-items: end;

	img {
		width: 160px;
		height: 50px;
	}
}

.footer-icons__item--small-caption img {
    height: 93px;
}

.footer-icons--third-row {
	margin-top: 15px;
	.footer-icons {
		gap: 30px 0; /* 95px;*/
		justify-content: center;
		align-items: end;
	}

	img {
		width: 160px;
		height: 50px;
	}	
}

.footer-icons--left,
.footer-icons--right {
	flex-grow: 1;
}

.footer-icons__item {
	flex-grow: 1;
	text-align: center;
	img {
		object-fit: contain;
	}
}

.footer-icons__item--transparent {
	@media (max-width: $desktop-width) {
		display: none;
	}
}

.footer-contact {
	text-align: center;
	padding-top: 23px;
	color: $secondary-color;

	@media (min-width: $desktop-width) {
		width: 650px;
	}
}

.footer-contact--mobile {
  margin-bottom: 60px !important;
}

.footer-contact::before {
	content: " ";
	height: 1px;
	width: 210px;
	background-color: rgba($secondary-color, 0.2);
	display: block;
	margin: 0 auto;
	position: relative;
	top: -20px;
}

.footer-contact__title {
	font-size: 14px;
	text-transform: uppercase;
}

.footer-contact__content {
	font-size: 12px;
	line-height: 15px;
	margin: 0;
}

.footer-bottom {
	background-color: #c8c2b8;
	color: $primary-color;
	text-transform: uppercase;
	text-align: center;
	max-width: 100% !important;
	padding: 10px 0;
}

.footer-bottom__copyright {
	font-size: 13px;
}

.footer__button-top {
    font-family: 'minion-bold-it';
    font-size: 46px;
    line-height: 63px;
    color: $primary-color;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #a10000;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    z-index: 999999;
    transition: opacity .5s;
}

.footer__button-top--active {
    opacity: .5;
}

.footer__button-top:hover {
    color: $accent-color;
    opacity: 1;
}

@media (min-width: $mobile-width) and (max-width: $desktop-width) {
	.footer-icons--first-row,
	.footer-icons--second-row {
		.footer-icons__item {
			flex: 30%;
		}
	}

	.footer-contact {
		margin-top: 90px;
	}
}

@media (max-width: $tablet-width) {
	.footer-icons__item {
		width: 100%;
	}

	.footer-icons {
		margin-top: 50px;
		padding: 0;
	}

	.footer-contact {
		margin: 25px auto 0;
	}

	.footer-container {
		flex-wrap: wrap;
	}
}

.footer-swiper {
	margin: 0 25px;
}
