@import "colors";

.footer {
	font-family: "arial-narrow", sans-serif;
	letter-spacing: 1px;
	background-color: $primary-color;
	max-width: 100% !important;
	color: $accent-color;

	a {
		color: $accent-color;
	}

	img {
		max-width: 100% !important;
	}
}

.footer-top {
	text-align: center;
}

.footer-top__title {
	font-size: 14px;
	color: $secondary-color;
	text-transform: uppercase;
	padding: 22px 0;
}

.footer-icons {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	padding: 45px 20px 0 8px;
}

.footer-icons:nth-child(2) {
	align-items: center;
}

.footer-icons:nth-child(3) {
	padding-bottom: 20px;
}

.footer-contact {
	flex: 200px !important;
	@media (min-width: $desktop-width) {
		padding-left: 65px;
	}

	@media (max-width: $desktop-width) {
		padding-left: 5vw;
	}
}

.footer-icons__item {
	flex: 140px;
	img {
		object-fit: contain;
		max-height: 80px;
	}
}

.footer-contact__title {
	font-size: 14px;
	text-transform: uppercase;
	text-align: left;
}

.footer-contact__content {
	font-size: 12px;
	text-align: left;
	margin: 0;
}

.footer-bottom {
	background-color: $accent-color;
	color: $primary-color;
	text-transform: uppercase;
	text-align: center;
	max-width: 100% !important;
	padding: 10px 0;
}

.footer-bottom__copyright {
	font-size: 13px;
}

.footer__button-top {
    font-family: 'minion-bold-it';
    font-size: 46px;
    line-height: 63px;
    color: $primary-color;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #a10000;
    text-align: center;
    position: fixed;
    bottom: 70px;
    right: 70px;
    opacity: .5;
    z-index: 999999;
    transition: opacity .5s;
}

.footer__button-top:hover {
    color: $accent-color;
    opacity: 1;
}
