@import "colors";

.switcher {
    display: flex;
    justify-content: end;
    padding-right: 110px;
    margin-top: 44px;
    box-sizing: border-box;
}

.switcher-container {
    margin: 0px 2px;
}

.switcher-container__flag {
    width: 30px;
    height: 20px;
    object-fit: cover;
    border-bottom: none;
}

.switcher-container svg {
    background-color: $secondary-color;
    height: 20px;
    display: block;
    width: 30px;
    border-top: none;
    fill: $primary-color;
    margin-top: -5px;
    padding-bottom: 6px;
}
