
@import "colors";
@import "fonts";

.travel-header {
	background-color: $primary-color;
	position: relative;
	height: 88px;
	text-align: center;
	padding-top: 80px;
}

.travel-header::after {
    content: ' ';
    background-image: url(/assets/imgs/lines.svg);
    display: block;
    width: 100%;
    height: 56px;
    position: absolute;
    z-index: 10;
    background-size: 150px auto;
    opacity: .5;
    pointer-events: none;

    @media (min-width: $mobile-width) {
        margin-top: 30px;
    }
}


.travel-header__menu {
    font-family: minion-bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 1px;
    color: $secondary-color;
    position: relative;
    z-index: 999;
}

.travel-content {
	padding-top: 4px;
}

.travel-container {
	max-width: 800px !important;
}

.travel-header__title {
    font-family: 'minion-bold-subh';
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 0;
    color: $secondary-color;
    letter-spacing: 1px;
}

.travel-header__title::before,
.travel-header__title::after {
	content: ' ';
	width: 90px;
	display: inline-block;
	height: 3px;
	border-bottom: 1px solid $secondary-color;
	border-top: 1px solid $secondary-color;

    @media (max-width: $mobile-width) {
        display: none;
    }
}

.travel-header__title::before {
	margin-right: 10px;
}

.travel-header__title::after {
	margin-left: 10px;
}

.travel-header__paragraph {
    font-family: 'minion-medium-subh';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #818181;
    padding: 0 15px;
}

.travel-seperator {
	transform: scale(-1);
	bottom: -1px;
}
.travel-seperator path {
	fill: $accent-color;
}

.travel__content {
	padding: 0px 15px;
	margin-top: 0;
	font-family: 'minion-medium-subh';
	font-size: 18px;
	line-height: 25px;
	color: $text-color;
	white-space: pre-wrap;
	text-align: justify;
	letter-spacing: 1px;
	-webkit-hyphens: auto;
	hyphens: auto;
	letter-spacing: 0.3px;

    @media (min-width: $mobile-width) {
        padding: 0 70px;
    }
}

.travel-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    max-width: 1000px !important;
    width: 100%;
    margin-top: 35px;
}

.travel-item {
    cursor: zoom-in;
    flex-basis: 200px;
}

.travel-item__image {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.travel-item__title {
	display: block;
	margin-top: 5px;
	text-align: center;
}

.pswp__default-caption,
.travel-item__title {
	font-family: minion-it;
	letter-spacing: 1.5px;
	white-space: pre-line;
	font-size: 17px !important;
	color: $secondary-color !important;
}

.travel-list {
    font-family: 'minion-bold';
    font-size: 25px;
    display: table;
    margin: 60px auto 200px;
}

.travel-list__item {
    display: table-row;
}

.travel-list__number {
    display: table-cell;
    width: 60px;
    padding-bottom: 30px;
}

.travel-list__desc {
    display: table-cell;
    text-align: center;
}
