@font-face {
  font-family: "minion";
  src: url("../fonts/MinionPro-Disp.otf") format("opentype");
}
@font-face {
  font-family: "minion-bold";
  src: url("../fonts/MinionPro-BoldDisp.otf") format("opentype");
}
@font-face {
  font-family: "minion-it";
  src: url("../fonts/MinionPro-ItDisp.otf") format("opentype");
}
@font-face {
  font-family: "minion-semibold-it";
  src: url("../fonts/MinionPro-SemiboldItDisp.otf") format("opentype");
}
@font-face {
  font-family: "minion-bold-it";
  src: url("../fonts/MinionPro-BoldIt.otf") format("opentype");
}
@font-face {
  font-family: "minion-medium";
  src: url("../fonts/MinionPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: "minion-medium-it";
  src: url("../fonts/MinionPro-MediumIt.otf") format("opentype");
}
@font-face {
  font-family: "minion-bold-subh";
  src: url("../fonts/MinionPro-BoldSubh.otf") format("opentype");
}
@font-face {
  font-family: "minion-medium-subh";
  src: url("../fonts/MinionPro-MediumSubh.otf") format("opentype");
}
@font-face {
  font-family: "minion-it-subh";
  src: url("../fonts/MinionPro-ItSubh.otf") format("opentype");
}
@font-face {
  font-family: "arial-narrow";
  src: url("../fonts/Arial Narrow.ttf") format("truetype");
}
/* line 4, ../../../style/sass/Blog.scss */
#blog {
  background-color: #212227;
}

/* line 8, ../../../style/sass/Blog.scss */
.blog-header {
  text-align: center;
  background-color: #0e0a09;
  padding-top: 30px;
}

/* line 14, ../../../style/sass/Blog.scss */
.blog-header::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 223px;
  background: #000;
  left: 0;
  margin-top: -30px;
}

/* line 24, ../../../style/sass/Blog.scss */
.blog-header__title {
  font-family: minion-semibold-it;
  font-size: 147px;
  margin: 0;
  letter-spacing: 12px;
  vertical-align: top;
}

/* line 32, ../../../style/sass/Blog.scss */
.blog-header__desc {
  font-size: 16px;
  line-height: 24px;
  margin-top: 52px;
  margin-left: 30px;
  font-family: minion-medium;
  text-transform: uppercase;
  letter-spacing: 4.7px;
  text-align: left;
  vertical-align: text-bottom;
}

/* line 44, ../../../style/sass/Blog.scss */
.blog-header__title,
.blog-header__desc {
  display: inline-block;
  position: relative;
  z-index: 9999;
}

/* line 52, ../../../style/sass/Blog.scss */
.blog-content {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 99999;
}

/* line 61, ../../../style/sass/Blog.scss */
.blog-content::before {
  position: absolute;
  width: 100%;
  height: 1000px;
  left: 0;
  content: ' ';
  margin-top: -102px;
  background-image: url(../imgs/lines.svg);
  background-size: 120px;
  z-index: 0;
}

/* line 73, ../../../style/sass/Blog.scss */
.blog-socials,
.blog-view {
  position: relative;
  z-index: 9999;
}

/* line 79, ../../../style/sass/Blog.scss */
.blog-socials {
  flex-basis: 285px;
  flex-grow: 1;
  text-transform: uppercase;
}

/* line 85, ../../../style/sass/Blog.scss */
.blog-social__text {
  text-align: center;
  font-size: 15px;
  margin-top: 0;
  font-weight: 600;
  font-family: arial-narrow, arial, sans-serif;
  letter-spacing: 2.8px;
  line-height: 20px;
  margin-bottom: 25px;
}

/* line 96, ../../../style/sass/Blog.scss */
.blog-social-wrapper {
  width: 225px;
  margin: 0 auto;
}

/* line 102, ../../../style/sass/Blog.scss */
.blog-item:first-child {
  margin-bottom: 35px;
}

@media screen and (min-width: 700px) {
  /* line 108, ../../../style/sass/Blog.scss */
  .blog-header__desc {
    max-width: 50%;
  }

  /* line 115, ../../../style/sass/Blog.scss */
  .blog-arrows {
    margin-left: 28vw;
  }
}
/* line 120, ../../../style/sass/Blog.scss */
.blog-social__link {
  cursor: pointer;
  text-decoration: underline;
}

/* line 125, ../../../style/sass/Blog.scss */
.blog-social__link i {
  font-style: normal;
  margin-right: 10px;
}

/* line 130, ../../../style/sass/Blog.scss */
.blog-view {
  flex-grow: 1;
  flex-basis: 450px;
  opacity: .9;
}

/* line 136, ../../../style/sass/Blog.scss */
.blog-item {
  position: relative;
  margin-bottom: 0px;
}

/* line 141, ../../../style/sass/Blog.scss */
.blog-item__link {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

/* line 147, ../../../style/sass/Blog.scss */
.blog-item__image {
  max-width: 100%;
  width: 365px;
  height: 216px;
  margin-bottom: 25px;
  object-fit: cover;
  box-shadow: 10px 10px #010000;
}

/* line 156, ../../../style/sass/Blog.scss */
.blog-info {
  color: #cc9966;
  margin-top: -6px;
  flex-grow: 1;
}

/* line 162, ../../../style/sass/Blog.scss */
.blog-info__title::after {
  content: ' ';
  position: absolute;
  background-color: #0004;
  z-index: -1;
  left: -30px;
  width: calc(100% + 28px);
  height: 110px;
  bottom: -73px;
}

/* line 173, ../../../style/sass/Blog.scss */
.blog-info__seperator {
  height: 6px;
  width: 110px;
  margin: 13px 0 10px;
}

/* line 179, ../../../style/sass/Blog.scss */
.blog-info__seperator line {
  stroke: #cc9966;
  stroke-width: 2px;
}

/* line 185, ../../../style/sass/Blog.scss */
.blog-info__category {
  text-transform: uppercase;
  font-family: 'arial-narrow', arial, sans-serif;
  font-size: 15px;
  letter-spacing: 2.8px;
  font-weight: 600;
}

/* line 193, ../../../style/sass/Blog.scss */
.blog-info__title {
  position: relative;
  font-family: minion;
  letter-spacing: 1.6px;
  font-size: 26px;
  font-weight: 100;
  line-height: 26px;
  margin: 10px 0 0 0;
  white-space: pre-wrap;
}

/* line 204, ../../../style/sass/Blog.scss */
.blog-info__source {
  font-family: minion;
  font-size: 15px;
  letter-spacing: 1px;
}

/* line 210, ../../../style/sass/Blog.scss */
.blog-arrows {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 36px;
  transform: scale(0.8);
}

/* line 219, ../../../style/sass/Blog.scss */
.blog-arrows__image--unvisible {
  visibility: hidden;
}

/* line 223, ../../../style/sass/Blog.scss */
.blog-arrows__image-up path,
.blog-arrows__image-down path {
  fill: #cc9966 !important;
}

/* line 228, ../../../style/sass/Blog.scss */
.blog-arrows__image-down svg {
  transform: rotate(180deg) translateX(-4px);
}

/* line 232, ../../../style/sass/Blog.scss */
.blog-linkedin iframe {
  transform: scale(0.8) translate(-13%, -13%);
}

/* line 236, ../../../style/sass/Blog.scss */
.blog-overlay {
  display: flex;
  width: 200px;
  height: 419px;
  margin-top: -2px;
  opacity: 1;
  position: absolute;
  z-index: 50;
  border-radius: 20px;
  animation: hideFrame 3s forwards;
}
/* line 247, ../../../style/sass/Blog.scss */
.blog-overlay svg {
  height: 35px;
  margin: auto;
}
/* line 251, ../../../style/sass/Blog.scss */
.blog-overlay svg path {
  fill: #fff !important;
}

/* line 258, ../../../style/sass/Blog.scss */
.blog-overlay--facebook {
  background-color: #1877f2;
}

/* line 262, ../../../style/sass/Blog.scss */
.blog-overlay--twitter {
  background-color: #1da1f2;
}

/* line 266, ../../../style/sass/Blog.scss */
.blog-overlay--linkedin {
  background-color: #0a66c2;
}

/* line 270, ../../../style/sass/Blog.scss */
.blog-overlay--instagram {
  background-color: #e4405f;
}

/* line 274, ../../../style/sass/Blog.scss */
.blog-overlay--youtube {
  background-color: #cd201f;
}

/* line 281, ../../../style/sass/Blog.scss */
.blog-social-mobile-cover,
.blog-overlay {
  position: absolute;
  pointer-events: none;
}

/* line 287, ../../../style/sass/Blog.scss */
.blog-social-mobile-cover {
  z-index: 80;
}

/* line 291, ../../../style/sass/Blog.scss */
.blog-social-app {
  width: 196px;
  height: 418px;
  overflow: auto;
  border-radius: 40px;
  padding: 14px 0 0 16px;
  scrollbar-width: none;
  margin-bottom: 30px;
}

/* line 301, ../../../style/sass/Blog.scss */
.blog-social-app::-webkit-scrollbar {
  display: none;
}

/* line 305, ../../../style/sass/Blog.scss */
.blog-social-icons {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 35px;
}

/* line 312, ../../../style/sass/Blog.scss */
.social-facebook:hover path {
  fill: #1877f2 !important;
}

/* line 316, ../../../style/sass/Blog.scss */
.social-twitter:hover path {
  fill: #1da1f2 !important;
}

/* line 320, ../../../style/sass/Blog.scss */
.social-linkedin:hover path {
  fill: #0a66c2 !important;
}

/* line 324, ../../../style/sass/Blog.scss */
.social-instagram:hover path {
  fill: #e4405f !important;
}

/* line 328, ../../../style/sass/Blog.scss */
.social-youtube:hover path {
  fill: #cd201f !important;
}

/* line 332, ../../../style/sass/Blog.scss */
.blog-social-icon__link {
  cursor: pointer;
}
/* line 334, ../../../style/sass/Blog.scss */
.blog-social-icon__link svg {
  width: 35px;
  height: 35px;
}

/* line 340, ../../../style/sass/Blog.scss */
.blog-social-icon__link--active path {
  fill: #cc9966 !important;
}

@media screen and (min-width: 1100px) {
  /* line 345, ../../../style/sass/Blog.scss */
  .blog-item__link {
    gap: 36px;
  }

  /* line 349, ../../../style/sass/Blog.scss */
  .blog-content {
    padding: 100px 0 70px 58px;
  }

  /* line 353, ../../../style/sass/Blog.scss */
  .blog-info {
    padding-right: 67px;
  }

  /* line 358, ../../../style/sass/Blog.scss */
  .blog-social-wrapper {
    width: initial !important;
    margin: initial !important;
  }

  /* line 363, ../../../style/sass/Blog.scss */
  .blog-item:first-child {
    margin-bottom: 66px !important;
  }

  /* line 367, ../../../style/sass/Blog.scss */
  .blog-socials {
    flex-grow: 0;
    box-sizing: border-box;
    border-right: 3px solid #000;
  }

  /* line 373, ../../../style/sass/Blog.scss */
  .blog-item__link {
    flex-wrap: nowrap !important;
  }

  /* line 377, ../../../style/sass/Blog.scss */
  .blog-view {
    margin-left: 60px !important;
  }

  /* line 381, ../../../style/sass/Blog.scss */
  .blog-social__text {
    margin-right: 54px;
  }

  /* line 385, ../../../style/sass/Blog.scss */
  .blog-social-icons {
    padding-right: 56px;
    margin-bottom: 0 !important;
  }
}
/* line 391, ../../../style/sass/Blog.scss */
.blog-seperator path {
  fill: #212227;
}

/* line 396, ../../../style/sass/Blog.scss */
#special-red-path {
  fill: red !important;
}

@keyframes hideFrame {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 414, ../../../style/sass/Blog.scss */
#twitter-widget-0 .css-1dbjc4n.r-38sf4c.r-qklmqi.r-1cbz2o1 {
  display: none;
}
