@font-face {
  font-family: "minion";
  src: url("../fonts/MinionPro-Disp.otf") format("opentype");
}
@font-face {
  font-family: "minion-bold";
  src: url("../fonts/MinionPro-BoldDisp.otf") format("opentype");
}
@font-face {
  font-family: "minion-it";
  src: url("../fonts/MinionPro-ItDisp.otf") format("opentype");
}
@font-face {
  font-family: "minion-semibold-it";
  src: url("../fonts/MinionPro-SemiboldItDisp.otf") format("opentype");
}
@font-face {
  font-family: "minion-bold-it";
  src: url("../fonts/MinionPro-BoldIt.otf") format("opentype");
}
@font-face {
  font-family: "minion-medium";
  src: url("../fonts/MinionPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: "minion-medium-it";
  src: url("../fonts/MinionPro-MediumIt.otf") format("opentype");
}
@font-face {
  font-family: "minion-bold-subh";
  src: url("../fonts/MinionPro-BoldSubh.otf") format("opentype");
}
@font-face {
  font-family: "minion-medium-subh";
  src: url("../fonts/MinionPro-MediumSubh.otf") format("opentype");
}
@font-face {
  font-family: "minion-it-subh";
  src: url("../fonts/MinionPro-ItSubh.otf") format("opentype");
}
@font-face {
  font-family: "arial-narrow";
  src: url("../fonts/Arial Narrow.ttf") format("truetype");
}
/* line 5, ../../../style/sass/About.scss */
.about-header {
  margin-bottom: -20px;
}

/* line 9, ../../../style/sass/About.scss */
.about-container {
  padding: 20px 20px 200px;
}

/* line 13, ../../../style/sass/About.scss */
.about-header,
.about-container {
  background-color: #e0dcd4;
  color: #4a4a4a;
}

/* line 19, ../../../style/sass/About.scss */
.about-header__image-container {
  position: relative;
  max-width: 100% !important;
}

/* line 24, ../../../style/sass/About.scss */
.about-header__image-container:after {
  content: " ";
  background-image: url(http://localhost:3000/static/media/lines.85c645be327c502e1f9c.svg);
  display: block;
  width: 100%;
  height: 56px;
  position: absolute;
  margin-top: -35px;
  z-index: 10;
  background-size: 150px auto;
  opacity: 0.5;
}

/* line 37, ../../../style/sass/About.scss */
.about-header__image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  object-position: center;
}

/* line 44, ../../../style/sass/About.scss */
.about-header__title {
  font-family: 'minion-bold-subh';
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  margin: -50px 0 0;
  color: #cc9966;
  letter-spacing: 1px;
}

/* line 54, ../../../style/sass/About.scss */
.about-header__title::before,
.about-header__title::after {
  content: " ";
  width: 90px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  height: 3px;
  border-bottom: 1px solid #cc9966;
  border-top: 1px solid #cc9966;
}

/* line 66, ../../../style/sass/About.scss */
.about-header__title::before {
  margin-right: 10px;
}

/* line 70, ../../../style/sass/About.scss */
.about-header__title::after {
  margin-left: 10px;
}

/* line 76, ../../../style/sass/About.scss */
.about-header__text {
  text-align: center;
  font-family: 'minion-medium-subh';
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 18px;
}

/* line 84, ../../../style/sass/About.scss */
.about-header__nav {
  font-family: 'minion-semibold-it';
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
/* line 90, ../../../style/sass/About.scss */
.about-header__nav ul {
  padding-left: 0;
}

/* line 95, ../../../style/sass/About.scss */
.about-header-nav__item {
  list-style: none;
  display: inline;
  margin-right: 5px;
}
/* line 100, ../../../style/sass/About.scss */
.about-header-nav__item a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* line 107, ../../../style/sass/About.scss */
.about-header-nav__item:not(:last-child)::after {
  content: "-";
  margin-left: 5px;
}

/* line 112, ../../../style/sass/About.scss */
.about-section__text {
  margin-top: 0;
}

/* line 116, ../../../style/sass/About.scss */
.about-section__text--large {
  font-size: 25px;
  line-height: 33px;
}

/* line 121, ../../../style/sass/About.scss */
.about-section__title {
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
}

/* line 127, ../../../style/sass/About.scss */
.about-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* line 133, ../../../style/sass/About.scss */
.about-section__image-container {
  flex-basis: 160px;
  min-width: 160px;
}

/* line 138, ../../../style/sass/About.scss */
.about-section__text-container {
  flex-basis: 300px;
  flex-grow: 1;
  text-align: justify;
  hyphens: auto;
  letter-spacing: 0.3px;
  font-family: 'minion-medium-subh';
  font-size: 18px;
  line-height: 25px;
}

/* line 150, ../../../style/sass/About.scss */
.about-seperator {
  bottom: 3px;
  transform: scale(-1);
}

/* line 155, ../../../style/sass/About.scss */
.about-seperator path {
  fill: #e0dcd4;
}

@media screen and (min-width: 700px) {
  /* line 161, ../../../style/sass/About.scss */
  .about-container > * {
    padding-left: 110px;
    padding-right: 110px;
    box-sizing: border-box;
  }

  /* line 167, ../../../style/sass/About.scss */
  .about-section {
    gap: calc(45vw - 350px);
  }
}
@media screen and (min-width: 1350px) {
  /* line 173, ../../../style/sass/About.scss */
  .about-section {
    gap: 250px;
  }
}
/* line 179, ../../../style/sass/About.scss */
#about-it-incarichi-1 p,
#about-it-onorificenze p,
#about-en-incarichi-1 p,
#about-en-onorificenze p,
#about-fr-incarichi-1 p,
#about-fr-onorificenze p {
  hyphens: manual;
  color: #000;
}

/* line 189, ../../../style/sass/About.scss */
#about-it-incarichi-1 p,
#about-it-onorificenze p,
#about-it-conoscenze-linguistiche p,
#about-it-interessi-personali p,
#about-it-sport p,
#about-it-dopo-il-2013-1 p,
#about-en-incarichi-1 p,
#about-en-onorificenze p,
#about-en-conoscenze-linguistiche p,
#about-en-interessi-personali p,
#about-en-sport p,
#about-en-dopo-il-2013-1 p,
#about-fr-incarichi-1 p,
#about-fr-onorificenze p,
#about-fr-conoscenze-linguistiche p,
#about-fr-interessi-personali p,
#about-fr-sport p,
#about-fr-dopo-il-2013-1 p {
  text-align: center;
}
