@import "colors";

.footer {
	background-color: $primary-color;
	max-width: 100% !important;
	font-size: 14px;
	color: $accent-color;

	a {
		color: $secondary-color;
	}

	img {
		max-width: 100% !important;
	}
}

.footer-copyright {
	text-align: center;
	padding: 5px;
	line-height: 200px;
}

