@import "colors";

.switcher {
    display: flex;
    justify-content: end;
    padding-right: 110px;
    margin-top: 44px;
    box-sizing: border-box;
}

.switcher-container {
    margin: 0px 2px;
}

.switcher-container__flag {
    width: 30px;
    height: 20px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    border: 1px solid $primary-color;
    border-bottom: none;
}

.switcher-container svg {
    background-color: #201e21;
    border-radius: 0 0 5px 5px;
    height: 20px;
    display: block;
    width: 30px;
    border: 1px solid $primary-color;
    border-top: none;
    fill: $secondary-color;
    padding-bottom: 6px;
    margin-top: -3px;
}
